node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.env
web-build/
web-report/

# macOS
.DS_Store
*.png
images/photo_1592854176857_8BC0327C-F48C-4FAA-A8C9-101FB5500C14.jpg
*.jpg
